/TelegramBotForShaxrixon/bin
/TelegramBotForShaxrixon/obj
/TelegramBotForShaxrixon/Properties
/TelegramBotForShaxrixon/small.mp4
/TelegramBotForShaxrixon/TelegramBotForShaxrixon.csproj
/TelegramBotForShaxrixon/TelegramBotForShaxrixon.csproj.user